
<div class="menu">
  <div class="container">
    <input #fileInput type="file" style="display: none" accept=".txt" (change)="onChangeFileInput($event)" />
    <button mat-raised-button color="primary" (click)="onClickFileInputButton()">
      Load file
    </button>
  </div>
  
    <button mat-raised-button *ngFor="let button of buttons" [color]="button.color" (click)="setActiveColor(button.number)">{{button.number}}</button>
    <button mat-raised-button *ngIf="buttons.length < 9" (click)="addColor()">+</button>
    <button mat-raised-button color="primary" (click)="getResult()">Result</button>
</div>

<div id="file" class="file">
  <div class="values default-value-color" *ngFor="let value of values" id="{{value.id}}" (click)="markValue($event, false)">
    {{value.value}}
  </div>
</div>

<router-outlet></router-outlet>