input {
    display: none;
}
.values {
    user-select: none;
    white-space: pre;
    padding: 2px;
}

.default-value-color:nth-child(odd) {
    background: rgb(245, 245, 245);
}

.default-value-color:nth-child(even) {
    background: white;
}

.file {
    width: min-content;
    margin: 0 0 0 100px;
}

pre {
    height: 22px;
    font-size: x-small;
}

.menu {
    width: 100px;
    position: fixed;
    border-radius: 0 0 5px 0;
    display: inline-grid;
    top: 0;
    background: white;
}

pre {
    margin: 0;
    padding: 0;
}

.selected-row {
    border: 2px solid #3F51B5;
}

button {
    width: 80px;
    margin: 5px 10px;
}

.mat-grey {
    background-color: rgb(156, 142, 140) !important;
    color: #fff;
}

.mat-red {
    background-color: rgb(186, 66, 61) !important;
    color: #fff;
}

.mat-orange {
    background-color: rgb(222, 142, 51) !important;
    color: #fff;
}

.mat-yellow {
    background-color: rgb(222, 193, 51) !important;
    color: #fff;
}

.mat-green {
    background-color: rgb(96, 166, 66) !important;
    color: #fff;
}

.mat-blue {
    background-color: rgb(90, 148, 166) !important;
    color: #fff;
}

.mat-granat {
    background-color: rgb(61, 53, 212) !important;
    color: #fff;
}

.mat-violet {
    background-color: rgb(143, 90, 166) !important;
    color: #fff;
}

.mat-pink {
    background-color: rgb(201, 103, 183) !important;
    color: #fff;
}
