
<div class="menu">
  <div class="container">
    <input type="file" style="display: none" #fileInput accept="image/*" (change)="onChangeFileInput($event)" />
    <button mat-raised-button color="primary" (click)="onClickFileInputButton()">
      Load file
    </button>
  </div>
  
    <button mat-raised-button color="red" (click)="setActiveColor('1')">1</button>
    <button mat-raised-button color="yellow" (click)="setActiveColor('2')">2</button>
    <button mat-raised-button color="green" (click)="setActiveColor('3')">3</button>
    <button mat-raised-button color="blue" (click)="setActiveColor('4')">4</button>
</div>

<div id="file" class="file">
  <div class="values default-value-color" *ngFor="let value of values" id="{{value.id}}" (click)="markValue($event, false)">
    {{value.value}}
  </div>
</div>

<router-outlet></router-outlet>