
<div class="menu">
  <div class="container">
    <input #fileInput type="file" multiple="true" accept=".txt" (change)="onChangeFileInput($event)" />
    <button mat-raised-button color="primary" (click)="onClickFileInputButton()">
      <span class="material-icons">description</span>
    </button>
    <button mat-raised-button color="primary" *ngIf="isThereNextFile()" (click)="loadFile()">
      <span class="material-icons">redo</span>
      {{activeFile + 1}}
    </button>
  </div>
  
    <button mat-raised-button *ngFor="let button of buttons" [color]="button.color" (click)="setActiveColor(button.number)">{{button.number}}</button>
    <button mat-raised-button *ngIf="isThereMoreColors()" (click)="addColor()">
      <span class="material-icons">add</span>
    </button>
    <button mat-raised-button color="primary" (click)="getResult()">
      <span class="material-icons">print</span>
    </button>
</div>

<div id="file" class="file">
  <div class="values default-value-color" *ngFor="let value of values" id="{{value.id}}" (mousedown)="startMouseHold(value.id)" (mouseleave)="onDragMouse(value.id)" (mouseup)="endMouseHold(value.id)">
    {{value.value}}
  </div>
</div>

<router-outlet></router-outlet>